<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spring Bootの基礎を学ぼう</title>
</head>

<body>
    <h2>ユーザー登録フォーム</h2>
    <!-- <form th:action="@{/register}" method="post"> -->
    <form th:action="@{/register}" method="post" th:object="${userRegisterForm}">
        <!-- <label for="user_name">ユーザー名：</label> -->
        <label for="userName">ユーザー名：</label>
        <!-- <input type="text" id="user_name" name="user_name" th:value="${userName}"><br> -->
        <input type="text" th:field="*{userName}"><br>

        <label for="password">パスワード：</label>
        <input type="password" th:field="*{password}"><br>
        <!-- <input type="password" id="password" name="password"><br> -->

        <label for="role_id">ロール：</label>
        <!-- <select id="role_id" name="role_id"> -->
        <select id="role_id" th:field="*{roleId}">
            <!-- <option value="1" th:selected="${roleId == 1}">一般ユーザー</option> -->
            <option value="1">一般ユーザー</option>
            <!-- <option value="2" th:selected="${roleId == 2}">管理者ユーザー</option> -->
            <option value="2">管理者ユーザー</option>
        </select>
        <button type="submit">登録</button>
    </form>

    <!-- 成功メッセージ・失敗メッセージがあれば表示 -->
    <p th:if="${successMessage}" th:text="${successMessage}" style="color: green;"></p>
    <p th:if="${failureMessage}" th:text="${failureMessage}" style="color: red;"></p>

    <h2>ユーザーリスト</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>ユーザー名</th>
                <th>ロール</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.getUserId()}"></td>
                <td th:text="${user.getUserName()}"></td>
                <td>
                    <span th:if="${user.getRoleId() == 1}">一般ユーザー</span>
                    <span th:if="${user.getRoleId() == 2}">管理者ユーザー</span>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>